<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <meta name="vimport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <ul>
            <li><a href="about.html">ABOUT US</a></li>
            <li><a href="contact.html">CONTACT US</a></li>
            <li><a href="home.html">HOME</a></li>
        </ul>
        <h1>About Us:</h1>
        <p>Republic of Gamers is a brand used by Asus since 2006, encompassing a range of computer hardware, personal computers, peripherals, and accessories oriented primarily toward PC gaming. The line includes both desktops and high-spec laptops such as the Asus ROG Crosshair V Formula-Z Motherboard or the Asus ROG Strix G G731GT AU059T Laptop.[47]

            AMD graphics cards were marketed under the Arez brand due to the Nvidia GeForce Partner Program. <br><br>However, when the GeForce Partner Program was cancelled, the AMD cards were renamed back to the ROG branding.[citation needed]
            
            In 2013 ASUS launched the RAIDR Express, a PCI express based RAID 0 SSD subsystem with two SSDs on one PCB.<br><br>At Computex 2018, Asus unveiled and announced a ROG-branded gaming smartphone to compete against ZTE's nubia Red Magic, Xiaomi's Black Shark and the Razer Phone. The ROG Phone will have a special version of the Snapdragon 845 CPU that can be overclocked, vapor cooling, an external heatsink fan with the USB-C and headphone connectors on its bottom, three different docks and will be released in Q3 2018.[citation needed]
            
            In March 2021 Asus Launched the ASUS ROG PHONE 5 Series based on Qualcomm SM8350 Snapdragon 888 (5 nm), Octa-core processor.</p>
    </body>
</html>