<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <meta name="vimport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <ul>
            <li><a href="about.html">ABOUT US</a></li>
            <li><a href="contact.html">CONTACT US</a></li>
            <li><a href="home.html">HOME</a></li>
        </ul>
        <h1>Contact:</h1>
        <p>Please send an email to our Customer Service team at cs@asusstore.co.uk. We aim to respond to your email within 2 working days of receipt, Monday to Friday (excluding bank holidays).</p>
    </body>
</html>