<!DOCTYPE html>
<html>
    <head>
        <title>Resume page</title>
        <meta name="vimport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    </head>
    <body style="background-image: url(../static/images/dashboard.jpg);background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
        <table width="900px" height="100px" align="center" bgcolor="#CCdidl">
            <tr>
                <td>
                    <table align="center">
                        <tr>
                            <td width="200px" height="750" style="padding-left:10px" bgcolor="FDFEFE">
                                <hr size="40px" color="34495E">
                                <h1>ABDUL KADIR</h1>
                                <center><img src="../static/images/profile.JPG" style="border-radius: 50%" alt=""></center>
                                <h2>Contact</h2>
                                <hr>
                                <h4>Adress:</h4>
                                <p>3/345-20,Munishwar nagar, Bedrapalli,Sipcot phase-1, <br>Hosur-635126</p>
                                <h4>Phone:</h4>
                                <p>9080530888</p>
                                <h4>Email:</h4>
                                <p>abc@republicofgamers.com</p>
                                <h2>Additional info</h2>
                                <hr>
                                <h4>Languages known:</h4>
                                <p>English, Hindi, Tamil</p>
                                <h4>Hobbies:</h4>
                                <p>listening music, Travelling</p>
                                <h4>Personal Strength:</h4>
                                <P>Intellectual, Creative, Focused</P>
                            </td>
                            <td width="400px" height="750" style="padding-left:10px" bgcolor="FDFEFE">
                                <h1>Objective</h1>
                                <hr>
                                <p>Final Year B.E Electronics and Communication Engineering student at Adhiyamaan College of Engineering, Hosur with Good academic record and keen interest in Electronic devices and Programming</p>
                                <h2>Education</h2>
                                <hr>
                                <table><tr>
                                    <td>
                                        <ul>
                                            <li>B.E.Electronics and Communication Engineering<br>Adhiyamaan college of engineering <br> 8.8 CGPA (upto 6th semester) 2021</li>
                                            <li>HSC<br>Maharishi Vidya Mandir Hr.Sec.School <br>83.9% 2017</li>
                                            <li>SSLC<br>Vishwa Bharathi Matric.School <br>95.8% 2015</li>
                                        </ul>
                                    </td>
                                </tr></table>
                                <h2>Technical Skills</h2>
                                <hr>
                                <table>
                                    <tr>
                                        <td width="225px">
                                            <ul>
                                                <li>C Programming</li>
                                                <li>JAVA (J2SE)</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                                <h2>Project</h2>
                                <hr>
                                <h3>DTMF based boat control system for ocean research application</h3>
                                <li>The main aim of this project is to control the boat by using DTMF technology, as it is a wireless, it can be easily mobilized and also controlled.</li>
                                <h2>Activites</h2>
                                <hr>
                                <ul>
                                    <li>Participated on World’s Biggest International Hands-On Security Forensics Workshop Organized by Wikitechy & Microsoft Community Group, Chennai.</li>
                                    <li>Two days National Level Workshop on Cadence (OrCAD), held at Adhiyamaan College of Engineering (Autonomous), Organized by Chennai Robotics Club an initiative from Sciencotonic. </li>
                                    <li>Participated in the Workshop on IOT Using Arduino with hands - on session in SRM Institute of Science and Technology, Kattankulathur,Chennai.</li>
                                </ul>
                                <h2>Declaration</h2>
                                <hr>
                                <p>I hereby declare that all the information furnished above is true to the best of my belief.</p>
                                <hr size="40px" color="34495E">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>