<!DOCTYPE html>
<html>
    <head>
        <title>Republic of gamers</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <meta name="vimport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-image: url('../static/images/home\ page.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
        
        <ul>
            <li><a href="about.html">ABOUT US</a></li>
            <li><a href="contact.html">CONTACT US</a></li>
            <li><a href="#">HOME</a></li>
        </ul>
        <div class="Republic">
            <h1>Republic Of Gamers</h1>
        </div>
        <div class="link">
            <a href="login.html" target="_blank">LOGIN</a><br>
            <a href="register.html" target="_blank">REGISTER</a>
        </div>

    </body>
</html>