<!DOCTYPE html>
<html>
    <head>
        <title>Login page</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <meta name="vimport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-image: url(../static/images/login\ page.jpg);background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
        <ul>
            <li><a href="about.html">ABOUT US</a></li>
            <li><a href="contact.html">CONTACT US</a></li>
            <li><a href="home.html">HOME</a></li>
        </ul>
        <div class="lp">
            <h1>Welcome to login page</h1>
        </div>
        <div class="login">
            <form action="dashboard.html">
                <label>User name:</label>
                <input type="text" placeholder="enter your user name" required><br><br>
    
                <label>Password:</label>
                <input type="password" placeholder="enter your password" required><br>
                <input type="submit">
                <p>Or else</p>
                <a href="register.html">Create a new account!</a>
                
            </form>
        </div>
    </body>
</html>