<!DOCTYPE html>
<html>
    <head>
        <title>Registration page</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <meta name="vimport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-image: url(../static/images/register\ page.jpg);background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
        <ul>
            <li><a href="about.html">ABOUT US</a></li>
            <li><a href="contact.html">CONTACT US</a></li>
            <li><a href="home.html">HOME</a></li>
        </ul>
        <div class="reg">
            <h1>Welcome to register page</h1>
        </div>
        <div class="table">
            <form action="login.html">
                <div class="register">
                    <label>First name:</label><br>
                    <label>Last name:</label><br>
                    <label>User name:</label><br>
                    <label>Password:</label><br>
                    <label>Re-enter password:</label><br>
                </div>
                <div class="details">
                    <input type="text" placeholder="Enter your first name" required><br>
                    <input type="text" placeholder="Enter your last name" required><br>
                    <input type="text" placeholder="Enter a user name" required><br>
                    <input type="password" placeholder="Enter your password" required><br>
                    <input type="password" placeholder="Re-enter your password" required><br>
                    <input type="submit">
                </div>
            </form>
        </div>
    </body>
</html>